<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="script.js"></script>


</script>
<title>tictactoe</title>

</head>
<body x-ng-app="" x-ng-controller="TictacController">
<h1 style="text-align: center;">TIC TAC TOE</h1>
<div class="playerInfo">
	<p x-ng-bind="playNum"></p>
</div>
<div class="container">
		<div class="cells" x-ng-click="clicker($index)" x-ng-repeat="b in board track by $index">{{b}}</div>
		<!-- <p x-ng-bind="playNum"</p> -->
	</div>

	<button x-ng-click="resetGame()">New game</button>
	<div class="img" x-ng-show="gameDone==1">
	<img x-ng-src="{{fileName}}"/>
	</div>
	<!-- <div class="winMsg">
		{{winMsg}}
	</div> -->
</body>
</html>